<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.yuvi.wpsignpost"
    android:versionCode="2"
    android:versionName="1.0RC2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="SignpostApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PostsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:logo="@drawable/ic_logo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_post"
            android:logo="@drawable/ic_logo" >
        </activity>
        <activity
            android:name=".IssueListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_issue_list"
            android:logo="@drawable/ic_logo" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_about"
            android:logo="@drawable/ic_logo" >
        </activity>
    </application>

</manifest>